/* Background */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background-color:black;
  font-family: 'Goldman', cursive;
}

/* Header */
@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.header {
    display: block;
    margin-top: 0;
    text-align: center;
    background-color: hotpink;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
.header-text {
    font-family: neon;
    font-size: 10vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw rgb(243, 88, 243);

    animation: header-text 4s ease infinite;
    -moz-animation: header-text 4s ease infinite;
    -webkit-animation: header-text 4s ease infinite;
  }
  /* Header Animation */
  @keyframes header-text {
    0%,
    100% {
      text-shadow: 
      0 0 1vw rgb(243, 88, 243), 
      0 0 3vw rgb(216, 16, 216), 
      0 0 10vw rgb(216, 16, 216),
      0 0 10vw rgb(216, 16, 216), 
      0 0 .4vw rgb(230, 129, 230), 
      .5vw .5vw .1vw rgb(216, 16, 216);
      color: rgb(230, 129, 230) ;
    }
    50% {
      text-shadow: 
        0 0 .5vw rgb(121, 10, 121), 
        0 0 1.5vw rgb(121, 10, 121), 
        0 0 5vw rgb(121, 10, 121), 
        0 0 5vw rgb(121, 10, 121), 
        0 0 .2vw rgb(121, 10, 121), 
        .5vw .5vw .1vw rgb(87, 7, 87);
      color: rgb(100, 63, 100);
    }
  }
/* Main */
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding-bottom: 5rem;
    width: 80%;
    border: solid black 2rem;
    height: auto;
    background-color: black;
    border-radius: 25px;
    box-shadow: 
    0 0 1vw rgb(243, 88, 243), 
    0 0 3vw rgb(216, 16, 216), 
    0 0 10vw rgb(216, 16, 216),
    0 0 10vw rgb(216, 16, 216), 
    0 0 .4vw rgb(230, 129, 230), 
    .5vw .5vw .1vw rgb(216, 16, 216);
    color: hotpink;
  }
/* List */
.not-eaten-burgers {
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    list-style-type: none;
    margin-bottom: 2rem;
  }
.eaten-burgers {
  margin-left: 1rem;
  margin-right: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  margin-bottom: 2rem;
  }
li {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    border-radius: 10px;
    box-shadow: 
    0 0 3vw rgb(216, 16, 216) 
  }
.burger {
    padding-top: 2rem;
    display: inline-block;
    padding: 1rem;
    text-align: center;
    width: 15rem;
    border: solid hotpink 5px;
    border-radius: 10px;
    padding-bottom: 2rem;
  }
#icon {
    background-color: none;
    outline: none;
    border: none;
    text-shadow: 
    0 0 1vw rgb(216, 16, 216) 
  }
.title {
    text-shadow: 
      0 0 1vw rgb(243, 88, 243), 
      0 0 3vw rgb(216, 16, 216), 
      0 0 10vw rgb(216, 16, 216),
      0 0 10vw rgb(216, 16, 216), 
      0 0 .4vw rgb(230, 129, 230), 
    .1vw .1vw .1vw rgb(216, 16, 216);
    color: rgb(230, 129, 230) ;
    text-align: center;
    font-family: 'Goldman', cursive;
    font-size: 3rem;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
/* Form */
.new-burger {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    position: relative;
  }
.input-form {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
  }
input {
    font-family: 'Goldman', cursive;
    border-radius: 10px;
    padding-left: 1rem;
    background-color: black;
    outline: none;
    border: solid hotpink 3px;
    color: hotpink;
    font-weight: bold;
  }
::placeholder {
    font-family: 'Goldman', cursive;
    color: hotpink;
    font-weight: bold;
  }
#burger_name {
    width: 100%;
    height: 3rem;
    font-size: 1rem;
  }
.choice {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline;
    color: hotpink;
    font-size: 1rem;
    font-weight: bold;
  }
/* Buttons */
.delete-burger,
.change-devoured,
.addBtn {
    margin-top: 1rem;
    padding: 10px;
    font-family: 'Goldman', cursive;
    background-color: hotpink;
    box-shadow: 
    0 0 1vw rgb(216, 16, 216); 
    color: black; 
    border: none;
    outline: none;
    border-radius: 5px;
    width: 9rem;
}
.addBtn {
  position: absolute;
  right: 0;
}
.delete-burger:hover,
.addBtn:hover,
.change-devoured:hover {
    color: black !important;
    letter-spacing: 3px;
    background:  rgb(230, 129, 230);
    transition: all 0.3s ease 0s;
    border:  rgb(230, 129, 230);
    box-shadow: 
      0 0 1vw rgb(243, 88, 243), 
      0 0 3vw rgb(216, 16, 216), 
      0 0 10vw rgb(216, 16, 216),
      0 0 10vw rgb(216, 16, 216), 
      0 0 .4vw rgb(230, 129, 230), 
      .5vw .5vw .1vw rgb(216, 16, 216);
    color: rgb(230, 129, 230) ;
  }

/* Responsive */
@media only screen and (min-width: 500px){
    body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    
        background-color:black;
        background-image: linear-gradient(90deg, rgba(255, 131, 195, 0.5) 50%, transparent 50%),
        linear-gradient( rgba(255, 131, 195, 0.404) 50%, transparent 50%);
        background-size:70px 70px;
        font-family: 'Goldman', cursive;
    }
     .header {
          background-color: black;
    }
}
@media only screen and (min-width: 800px){
    .not-eaten-burgers {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .eaten-burgers {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1200px){
    .not-eaten-burgers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
    .eaten-burgers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1600px){
    .not-eaten-burgers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 5rem;
  }
    .eaten-burgers {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      margin-bottom: 5rem;
  }
}